.label-with-switch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.joint-field-wrapper {
  display: flex;
  align-items: center;
}
.joint-field-wrapper > div {
  padding: 0 2px;
}/*# sourceMappingURL=blood-bank.css.map */