.medication-row {
  display: flex;
  // flex-wrap: wrap;
  width: 100%;
  & > div.medication-col {
    // padding-left: 4px;
    // padding-right: 4px;
    padding: 4px;
    flex: 0 0 10%;
    max-width: 10%;
  }
  .form-group {
    margin: 0;
  }
}

.hospital-bed-wrapper {
  display: flex;
  flex-wrap: wrap;
  & > div.hospital-bed {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 10px;
    & > div.hospital-bed-inner {
      border: 1px solid transparent;
      border-radius: 4px;
      text-align: center;
      padding: 30px;
      .hospital-bed-icon {
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 30px;
        padding: 10px;
        margin: 0 auto;
        border-radius: 50%;
        font-size: 28px;
        color: white;
      }
    }
    &.available-bed > div {
      border-color: #56a201;
      .hospital-bed-icon {
        background-color: #56a201;
      }
    }
    &.occupied-bed > div {
      border-color: #a20101;
      .hospital-bed-icon {
        background-color: #a20101;
      }
    }
    &.pending-bed > div {
      border-color: #d08c0d;
      .hospital-bed-icon {
        background-color: #d08c0dff;
      }
    }
  }
}

.border-bottom {
  border-bottom: 2px dotted #cccccc !important;
}

.death-certificate-container {
  max-width: 1100px;
  background-color: #fff;
  padding: 30px;
  p {
    color: #000000;
    &.border-bottom {
      span {
        color: #525252;
      }
    }
  }
}

.chief-complaint-btn-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 50%;
  right: 0;
  z-index: 999;
}

.field-with-tags {
  position: relative;
}

.tags-input {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 2px;
  left: 0;
}

.tags-input .tags-item {
  background-color: #c9e6ff;
  color: #0a4c87;
  vertical-align: middle;
  padding: 4px 6px;
  margin: 1px 6px;
  border-radius: 4px;
}

.tags-input .tags-item i {
  background: none;
  padding: 4px 6px;
}

.form-check .tags-input {
  top: 4.6rem;
  left: 1rem;
}

.form-group.position-relative .tags-input {
  top: 2rem;
}

.small-field-btn {
  position: absolute;
  top: -10px;
  right: 0;
}

.small-field-btn button {
  padding: 0 5px;
}

.small-field-btn button i {
  font-size: 10px;
  color: white;
  line-height: 10px;
}

table {
  select {
    min-width: 140px;
  }
}

.border-bottom {
  border-bottom: 2px dotted #525252 !important;
  font-weight: 600;
  padding-top: 15px;
}
