
<table border="1" cellspacing="0" cellpadding="0">
  <tr>
    <td>SL</td>
    <td>Date</td>
    <td>Doctor Name</td>
    <td>Entry By</td>
    <td>Service Name</td>
    <td>QTY.</td>
    <td>Add Remarks</td>
  </tr>
  <tr>
    <td>01.</td>
    <td>23-03-2022</td>
    <td>Abdur Rahman</td>
    <td>Farida</td>
    <td>Dressing    Charge</td>
    <td>1</td>
    <td>&nbsp;</td>
  </tr>
</table>
