.red-card {
  background: #f08e84;
}

.list {
  color: #000000;
}

.text-area {
  height: 230px;
  outline: none;
}

.btn-orange {
  background: #f29d56;
  color: white;
}
.btn-pink {
  background: #f10075;
  color: white;
}

.btn-one {
  background: #3bb001;
}

.btn-three {
  background: #609fd2;
}

.btn-five {
  background: #0d8a9a;
}

.btn-six {
  background: #78bf29;
}

.btn-seven {
  background: #525252;
}

.box {
  display: none;
  margin-top: 20px;
}
