.dob-form-group {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  & > div {
    flex: 0 0 50%;
    max-width: 50%;
    &:last-child {
      display: flex;
      flex-wrap: nowrap;
    }
  }
}

.field-with-tags {
  position: relative;
}

.tags-input {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 2px;
  left: 0;
}

.tags-input .tags-item {
  background-color: #c9e6ff;
  color: #0a4c87;
  vertical-align: middle;
  padding: 4px 6px;
  margin: 1px 6px;
  border-radius: 4px;
}

.tags-input .tags-item i {
  background: none;
  padding: 4px 6px;
}

.form-check .tags-input {
  top: 4.6rem;
  left: 1rem;
}

.form-group.position-relative .tags-input {
  top: 2rem;
}

.border-bottom {
  border-bottom: 2px dotted #525252 !important;
  font-weight: 600;
  padding-top: 15px;
}
@media (min-width: 1400px) {
  .modal-xxl {
    max-width: 1400px;
  }
}
