.coMorbidDiseases-field-wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 5px;

  input[type="text"] {
    padding: 5px;
    border: 1px solid #cccccc;
    line-height: 12px;
    font-size: 12px;
    border-radius: 4px;

    &:focus {
      border: 1px solid lighten(#cccccc, 10);
      outline: 1px solid #cccccc;
    }
  }
}

.causeReferral-field-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;

  input[type="text"] {
    padding: 5px;
    border: 1px solid #cccccc;
    line-height: 12px;
    font-size: 12px;
    border-radius: 4px;

    &:focus {
      border: 1px solid #cccccc;
      outline: 1px solid #cccccc;
    }
  }
}
.border-bottom {
  border-bottom: 2px dotted #525252 !important;
  font-weight: 600;
  padding-top: 15px;
}
.medication-row {
  display: flex;
  width: 100%;
}
.medication-row > div.medication-col {
  padding: 4px;
  flex: 0 0 10%;
  max-width: 10%;
}
.medication-row .form-group {
  margin: 0;
}

.hospital-bed-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.hospital-bed-wrapper > div.hospital-bed {
  flex: 0 0 20%;
  max-width: 20%;
  padding: 10px;
}
.hospital-bed-wrapper > div.hospital-bed > div.hospital-bed-inner {
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  padding: 30px;
}
.hospital-bed-wrapper > div.hospital-bed > div.hospital-bed-inner .hospital-bed-icon {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 30px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 28px;
  color: white;
}
.hospital-bed-wrapper > div.hospital-bed.available-bed > div {
  border-color: #56a201;
}
.hospital-bed-wrapper > div.hospital-bed.available-bed > div .hospital-bed-icon {
  background-color: #56a201;
}
.hospital-bed-wrapper > div.hospital-bed.occupied-bed > div {
  border-color: #a20101;
}
.hospital-bed-wrapper > div.hospital-bed.occupied-bed > div .hospital-bed-icon {
  background-color: #a20101;
}
.hospital-bed-wrapper > div.hospital-bed.pending-bed > div {
  border-color: #d08c0d;
}
.hospital-bed-wrapper > div.hospital-bed.pending-bed > div .hospital-bed-icon {
  background-color: #d08c0d;
}

.accordion-button{
  justify-content: flex-end;
  &>span{
    margin-right: auto;
  }
  &::after{
    margin-left: 10px;
  }
}