.label-with-switch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.joint-field-wrapper {
  display: flex;
  align-items: center;

  & > div {
    padding: 0 2px;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  body .print-page-preview {
    visibility: visible;
  }
}