body {
  background-color: #F1F1F1;
  color: #576271;
  font-family: "Poppins", sans-serif;
}
body::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: white;
}
body:hover::-webkit-scrollbar-thumb {
  background: #c1c9ce;
}

img {
  max-width: 100%;
  height: auto;
}

.btn-primary {
  background-color: #2D80C4;
}
.btn-primary:hover {
  background-color: #23659b;
}

.btn-outline-primary {
  border-color: #2D80C4;
  color: #2D80C4;
}
.btn-outline-primary:hover {
  background-color: #23659b;
}

.bg-primary {
  background-color: #2D80C4 !important;
}

.btn-success {
  background: #56a201;
  border-color: #56a201;
}
.btn-success:hover {
  background: #56a201;
  border-color: #56a201;
}

.text-primary {
  color: #2D80C4;
}

.text-success {
  color: #56a201;
}

.icon {
  display: inline-block;
  background: url("../images/sprites.png") no-repeat left top;
}

.icon-35x {
  width: 35px;
  height: 35px;
}

.icon-dashboard {
  background-position: 0 2px;
}

.icon-outdoor {
  background-position: -35px 2px;
}

.icon-pharmacy {
  background-position: -70px 2px;
}

.icon-laboratory {
  background-position: -105px 2px;
}

.icon-pathology {
  background-position: -140px 2px;
}

.icon-inventory {
  background-position: -175px 2px;
}

.icon-store {
  background-position: -210px 2px;
}

.icon-indoor {
  background-position: -245px 2px;
}

.login-slider {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.login-form {
  max-width: 450px;
  margin: 0 auto;
}
.login-form .card {
  padding: 50px !important;
  border: none;
}
.login-form .card .form-header {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: bold;
}
.login-form a {
  color: inherit;
  font-size: 80%;
}

.bg-login-blue-img {
  background: url("../images/login-bg.png") no-repeat center;
  background-size: cover;
}

.login-powered-menu {
  margin: 0;
  padding: 0;
}
.login-powered-menu li {
  list-style: none;
  display: inline-block;
  margin: 5px;
}

.wrapper {
  position: relative;
}
.wrapper .leftside-menu {
  width: 260px;
  z-index: 10;
  background: #ffffff;
  bottom: 0;
  position: fixed;
  top: 0;
}
.wrapper .page-content {
  margin-left: 260px;
  overflow: hidden;
  padding: 70px 12px 100px;
  min-height: 100vh;
}
.wrapper .top-navbar {
  padding: 0 24px;
  background-color: #fff;
  min-height: 70px;
  position: fixed;
  left: 260px;
  top: 0;
  right: 0;
  z-index: 1001;
}
.wrapper .footer {
  border-top: 1px solid rgba(152, 166, 173, 0.2);
  background-color: #fff;
  bottom: 0;
  padding: 19px 24px 20px;
  position: absolute;
  right: 0;
  color: #98a6ad;
  left: 260px;
}

.leftside-menu .leftside-menu-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.leftside-menu .leftside-menu-inner > div {
  padding: 15px;
}
.leftside-menu .leftside-menu-inner .leftside-menu-branding {
  text-align: center;
  padding-top: 30px;
}
.leftside-menu .leftside-menu-inner .leftside-menu-greeting {
  text-align: center;
}
.leftside-menu .leftside-menu-inner .leftside-menu-greeting h4 {
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #2D80C4;
}
.leftside-menu .leftside-menu-inner .leftside-menu-greeting p {
  color: #56a201;
  border: 1px solid #56a201;
  margin: 10px auto 0;
  display: table;
  padding: 3px 12px 4px;
  border-radius: 24px;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper {
  margin-left: -15px;
  margin-right: -15px;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper > ul {
  overflow-y: auto;
  max-height: calc(100vh - 295px);
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li {
  list-style: none;
  display: inline-block;
  width: 100%;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li a {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  padding: 18px 20px;
  border-left: 3px solid transparent;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li a span:nth-child(2) {
  padding: 3px 10px;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li a span.fa-chevron-right {
  font-size: 12px;
  margin-left: auto;
  transition: 0.2s;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li a:hover {
  background: #EEF7FF;
  border-left-color: #2D80C4;
  color: #2D80C4;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li a:hover .fa-chevron-right {
  transform: rotate(90deg);
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li > ul {
  display: none;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li > ul li a:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #5D6D75;
  margin: 5px 15px;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li.activated > a {
  background: #EEF7FF;
  border-color: #2D80C4;
  color: #2D80C4;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li.activated > ul {
  display: block;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li.activated > ul li a:before {
  background: #5D6D75;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li.activated > ul li:hover a {
  background-color: transparent;
  border-color: transparent;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li.activated > ul li:hover a:before {
  background: #2D80C4;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li.activated > ul li.activated-submenu > a {
  color: #2D80C4;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li.activated > ul li.activated-submenu > a:before {
  background: #2D80C4;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li.activated > ul li.activated-submenu > ul {
  display: block;
  margin-left: 10px;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul li.activated > ul li.activated-submenu > ul > li a:before {
  border-radius: 10px;
  width: 6px;
  height: 6px;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul::-webkit-scrollbar-thumb {
  background: white;
}
.leftside-menu .leftside-menu-inner .leftside-menu-wrapper ul:hover::-webkit-scrollbar-thumb {
  background: #c1c9ce;
}

.menu-app-name-trigger {
  display: flex;
  align-items: center;
}
.menu-app-name-trigger h3 {
  font-size: 1.3rem;
  margin-bottom: 0;
  margin-left: 30px;
  color: #2D80C4;
  text-transform: uppercase;
}

.left-menu-trigger {
  margin: 19px 0;
}
.left-menu-trigger button {
  background: none;
  border: none;
  width: 30px;
  height: 30px;
  position: relative;
  padding: 0;
}
.left-menu-trigger button span {
  display: block;
  width: 80%;
  height: 3px;
  background: #5D6D75;
  border-radius: 4px;
  margin: 10px 0;
  transition: 0.2s;
}
.left-menu-trigger button span:before, .left-menu-trigger button span:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #5D6D75;
  border-radius: 4px;
  position: absolute;
}
.left-menu-trigger button span:before {
  top: 4px;
  transition: 0.2s top;
}
.left-menu-trigger button span:after {
  bottom: 4px;
  transition: 0.2s bottom;
}
.left-menu-trigger button:hover span {
  width: 100%;
  background: transparent;
}
.left-menu-trigger button:hover span:before {
  top: 13px;
}
.left-menu-trigger button:hover span:after {
  bottom: 13px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
nav ul li {
  list-style: none;
  display: block;
}
nav ul li a {
  padding: 15px;
  display: inline-flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: inherit;
  line-height: 40px;
}
nav ul li a:hover {
  background-color: #F5F5F5;
}
nav ul li.user-profile-menu-item a span {
  padding: 0 5px;
}
nav ul li.user-notification-menu-item i {
  color: #BCBCCB;
  font-size: 22px;
}
nav ul li.today-date-menu-item a {
  cursor: text;
}

.breadcrumb-wrapper {
  margin-bottom: 30px;
}
.breadcrumb-wrapper ul.breadcrumb {
  margin: 0;
  background-color: #5D6D75;
  padding: 8px 5px;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
}
.breadcrumb-wrapper ul.breadcrumb li {
  list-style: none;
  padding: 7px 10px;
  display: inline-block;
}
.breadcrumb-wrapper ul.breadcrumb li a {
  text-decoration: none;
  color: inherit;
}
.breadcrumb-wrapper .breadcrumb-label {
  background-color: #EEF7FF;
  font-size: 18px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
}
.breadcrumb-wrapper .breadcrumb-label > div {
  padding: 3px 5px;
}

.page-title-box {
  display: flex;
}
.page-title-box .page-title {
  font-size: 18px;
  margin: 0;
  line-height: 75px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: inherit;
}

.card.card-primary {
  margin-bottom: 25px;
}
.card.card-primary .card-header {
  background-color: #2D80C4;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
.form-group {
  margin-bottom: 20px;
}
.form-group.small-upload-field label {
  width: 100%;
  height: 38px;
  background-color: #8E969D;
  color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  pointer-events: none;
  padding: 5px 20px;
}
.form-group.small-upload-field label i {
  margin-right: 10px;
}
.form-group > label {
  margin-bottom: 6px;
  font-weight: 500;
  color: #000000;
}
.form-group > label span {
  color: red;
  font-size: 18px;
}
.form-group .custom-label {
  margin-bottom: 6px;
  font-weight: 500;
  color: #000000;
}
.form-group .custom-label span {
  color: red;
  font-size: 18px;
}
.form-group .photo-upload label {
  width: 100%;
  height: 150px;
  border: 3px dotted #ced4da;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.form-group .photo-upload label > span {
  color: inherit;
  text-align: center;
}
.form-group .photo-upload label > span i {
  display: block;
}
.form-group .photo-upload label > span i.fa {
  font-size: 34px;
  margin-bottom: 15px;
}
.form-group .photo-upload input[type=file] {
  display: none;
}
.form-group.incrementable-field {
  display: flex;
  align-items: end;
}
.form-group.incrementable-field > div:first-child {
  width: calc(100% - 40px);
  padding-right: 20px;
}
.form-group .icon-field-wrapper {
  position: relative;
}
.form-group .icon-field-wrapper input {
  padding-right: 30px;
}
.form-group .icon-field-wrapper i {
  position: absolute;
  top: 10px;
}
.form-group .icon-field-wrapper.icon-right i {
  right: 10px;
}
.form-group ul {
  margin: 0;
  padding: 5px 0;
}
.form-group ul li {
  list-style: none;
  font-size: 0.8em;
}

.form-action-btn .btn {
  min-width: 180px;
  margin: 5px;
}

.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5px;
  padding-right: 5px;
  align-items: flex-end;
  margin-bottom: 20px;
}
.filter-wrapper > div {
  flex: 0 0 160px;
  max-width: 160px;
  padding: 10px;
}
.filter-wrapper > div label {
  margin-bottom: 10px;
  font-weight: 500;
  color: #000000;
}
.filter-wrapper > div .btn {
  width: 100%;
  font-weight: 600;
}
.filter-wrapper > div.extent-field {
  flex: 0 0 200px;
  max-width: 200px;
}

.search-field-wrapper {
  max-width: 225px;
  position: relative;
  display: inline-block;
}
.search-field-wrapper input {
  padding-right: 40px;
}
.search-field-wrapper button {
  position: absolute;
  right: 8px;
  background-color: transparent;
  border: none;
  top: 8px;
}

table.table-blue thead {
  background-color: #2D80C4 !important;
  color: #fff;
}
table.table-blue thead tr th {
  border-bottom: none !important;
  font-weight: 500;
}
table.table-gray thead {
  background-color: #5D6D75 !important;
  color: #fff;
}
table.table-gray thead tr th {
  border-bottom: none !important;
  font-weight: 500;
}
table.table-gray tfoot {
  background-color: #5D6D75 !important;
  color: #fff;
}
table.table-gray tfoot tr th {
  border-bottom: none !important;
  font-weight: 500;
}
table.table-striped {
  border: none !important;
  box-shadow: none;
}
table.table-striped thead tr th {
  border-bottom: none !important;
  font-weight: 500;
}
table.table-striped tbody {
  border: none !important;
}
table.table-striped tbody tr {
  border-bottom: none !important;
}
table.table-striped tbody tr:nth-of-type(odd) > * {
  background-color: #f8fcff;
}
table.table-striped tbody tr td {
  border: none !important;
  border-bottom: none !important;
}

.pagination {
  margin: 15px 0;
}
.pagination ul {
  margin: 0;
  padding: 0;
}
.pagination ul li {
  list-style: none;
  display: inline-block;
}
.pagination ul li a {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  text-decoration: none;
  color: inherit;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
}
.pagination ul li.active a {
  background-color: #2D80C4;
  color: #fff;
}
.pagination.pagination-sm ul li a {
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.nav-tabs button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #EEF7FF;
  border-radius: 5px 5px 0 0;
  text-decoration: none;
  color: inherit;
  outline: none;
  border: none;
}
.nav-tabs button.active {
  color: #fff;
  background-color: #2D80C4;
}

.info-screen {
  background-color: #E0FBFF;
  color: #0D8A9A;
}

.success-screen {
  background-color: #d3ffd8;
  color: #00760d;
}

.patient-card ul {
  margin: 0;
  padding: 0;
}
.patient-card ul li {
  list-style: none;
  display: block;
}

.bg-light-gray {
  background-color: #F5F5F5;
}

.white-space-nowrap {
  white-space: nowrap;
}

.bg-light-blue {
  background-color: #EEF7FF;
}

.bg-dark-blue {
  background-color: #2D80C4;
}

.btn-outline-purple {
  border-color: #b605b6;
  color: #b605b6;
}
.btn-outline-purple:hover {
  background-color: #b605b6;
  color: #ffffff;
}

.btn-outline-warning {
  border-color: #e4790a;
  color: #e4790a;
}
.btn-outline-warning:hover {
  background-color: #e4790a;
  color: #ffffff;
}

.profile-heading {
  font-size: 24px;
  position: relative;
  padding-left: 35px;
}
.profile-heading:before, .profile-heading:after {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  content: "";
  display: block;
  top: 50%;
  transform: translateY(-8px);
}
.profile-heading:before {
  left: 0;
  background-color: #7dc5ff;
}
.profile-heading:after {
  left: 10px;
  background-color: #afff55;
}

.print-page-preview .border-bottom {
  border-bottom: 2px dotted #525252 !important;
  position: relative;
  min-height: 20px;
}
.print-page-preview .border-bottom span {
  display: inline-block;
  position: absolute;
}

.footer ul {
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
}
.footer ul li {
  list-style: none;
  display: inline-block;
  padding: 5px 7px;
}
.footer ul li img {
  opacity: 1;
  transition: 0.2s;
  max-height: 30px;
}
.footer ul li:hover img {
  opacity: 0.8;
}

body.side-menu-activated .top-navbar {
  left: 80px;
}
body.side-menu-activated .top-navbar .left-menu-trigger span {
  width: 100%;
  background: transparent;
}
body.side-menu-activated .top-navbar .left-menu-trigger span:before {
  top: 13px;
  transform: rotate(-45deg);
}
body.side-menu-activated .top-navbar .left-menu-trigger span:after {
  bottom: 13px;
  transform: rotate(45deg);
}
body.side-menu-activated .leftside-menu {
  width: 80px;
}
body.side-menu-activated .leftside-menu .leftside-menu-greeting {
  display: none;
}
body.side-menu-activated .leftside-menu ul {
  max-height: calc(100vh - 100px) !important;
}
body.side-menu-activated .leftside-menu ul li a span:nth-child(2), body.side-menu-activated .leftside-menu ul li a span:nth-child(3) {
  display: none;
}
body.side-menu-activated .leftside-menu ul li.activated ul {
  display: none !important;
}
body.side-menu-activated .wrapper .page-content {
  margin-left: 80px;
}
body.side-menu-activated .wrapper .footer {
  left: 80px;
}

.dob-form-group {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
}
.dob-form-group > div {
  flex: 0 0 50%;
  max-width: 50%;
}
.dob-form-group > div:last-child {
  display: flex;
  flex-wrap: nowrap;
}

.field-with-tags {
  position: relative;
}

.tags-input {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 2px;
  left: 0;
}

.tags-input .tags-item {
  background-color: #c9e6ff;
  color: #0a4c87;
  vertical-align: middle;
  padding: 4px 6px;
  margin: 1px 6px;
  border-radius: 4px;
}

.tags-input .tags-item i {
  background: none;
  padding: 4px 6px;
}

.form-check .tags-input {
  top: 4.6rem;
  left: 1rem;
}

.form-group.position-relative .tags-input {
  top: 2rem;
}

.border-bottom {
  border-bottom: 2px dotted #525252 !important;
  font-weight: 600;
  padding-top: 15px;
}

@media (min-width: 1400px) {
  .modal-xxl {
    max-width: 1400px;
  }
}/*# sourceMappingURL=main.css.map */